body {
  margin-top: 30px;
  background-color: #f0f8ff;
  text-align: center;
}

form {
  width: 30%;
  line-height: 1.5;
  margin: auto;
  padding: 10px 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.input {
  padding: 10px 50px 10px 10px;
  border: transparent;
  border-radius: 5px;
  color: #7396b9;
}

.input::placeholder{
  color: #7396b9;
}

.input.btn_submit {
  padding: 10px 30px;
}

.img_qr {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
}

.title{
  color: #7396b9;
  margin-bottom: 5px;
  border-bottom: 1px solid #7396b9;
}

.text{
  color: #e7a6a6;
}